
body {
   
    height:100%;

    width: 100%;
    margin: 0;
    background: url(images/background/background3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;



}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  
  #buttons{
    display: flex;
    flex-direction: column;
    padding: 5%;
   
  }
  
  #buttons button{
    margin-bottom: 5%;
  }
  
  #home a {
    
    border: solid transparent;
    transition: border 0.3s ease;
  }
  
  #home a:hover {
   
    border: solid #850000; 
  }
  
  
  .card-back2{
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 140px;
    height: 100px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  #nav{
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
  }

  .card-back{
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 61px;
    height: 83px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}





.fancy {
    text-align: center;
  background-image: 
  url("https://i.pinimg.com/originals/79/71/dd/7971dd8d68580f3cc88ff5ec41271687.gif");
  background-size: 110% cover;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: background 20s linear infinite;
  font-size: 500%;
  
}
@keyframes background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 2000px 0;
  }
}


@keyframes floating {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

@keyframes particles {
  0% {
    transform: translateZ(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(190px, 50px);
    opacity: 0;
  }
}

.button {
  position: relative;
  background: rgba(57, 57, 57, 0.7);
  display: inline-block;
  background-size: 200% auto;
  border: 1px solid;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  animation: floating 3s ease-in-out infinite;
  transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 30px;
  box-shadow: 0 0 20px #FF7730;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  width: 5px;
  height: 5px;
  background: #FF7730;
  animation: particles 2s infinite;
}

.button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:hover {
  color: #FFB900;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
  background-position: right center;
  background: linear-gradient(to right, #FFB900, #FF7730);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


   a{
    text-decoration: none;
   }


   
  .dialog-box {
    display: none;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 3rem;
    background: white;
    width: 65%;
    padding-top: 2rem;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
    animation: fadeIn 1s ease both;
    z-index: 9999;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .dialog-box::backdrop {
    animation: fadeIn 1s ease both;
    background: rgb(255 255 255 / 40%);
    z-index: 2;
    backdrop-filter: blur(20px);
  }
  
  .dialog-box .x {
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
  }
  
  .dialog-box .x:hover {
    filter: grayscale(0);
    transform: scale(1.1);
  }
  
  .dialog-box h2 {
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem;
    
  }
  
  .dialog-box p {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 0.5rem 0;
  }
  
  .dialog-box p a:visited {
    color: rgb(var(--vs-primary));
  }

  .dialog-box img{
    height: 5%;
    width: 5%;
  }


  .dialog-box div {
    display: flex;
    margin-top: 2%;
    
  }

  .dialog-box div p{
   color: red;
   margin-left: 2%;
  }
  .dialog-box div h2{
    color: #008542;
    margin-left: 12%;
   }



   .slider {
    --slider-width: 100%;
    --slider-height: 6px;
    --slider-bg: rgb(82, 82, 82);
    --slider-border-radius: 999px;
    --level-color: #fff;
    --level-transition-duration: .1s;
    --icon-margin: 15px;
    --icon-color: var(--slider-bg);
    --icon-size: 25px;
  }
  
  .slider {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .slider .volume {
    display: inline-block;
    vertical-align: top;
    margin-right: var(--icon-margin);
    color: var(--icon-color);
    width: var(--icon-size);
    height: auto;
  }
  
  .slider .level {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--slider-width);
    height: var(--slider-height);
    background: var(--slider-bg);
    overflow: hidden;
    border-radius: var(--slider-border-radius);
    -webkit-transition: height var(--level-transition-duration);
    -o-transition: height var(--level-transition-duration);
    transition: height var(--level-transition-duration);
    cursor: inherit;
  }
  
  .slider .level::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    -webkit-box-shadow: -200px 0 0 200px var(--level-color);
    box-shadow: -200px 0 0 200px var(--level-color);
  }
  
  .slider:hover .level {
    height: calc(var(--slider-height) * 2);
  }






   .main {
    background-color: white;
    padding: 1em;
    padding-bottom: 1.1em;
    border-radius: 15px;
    margin: 1em;
    width: 30%;
    margin-left: 35%;
  }
  
  .loader {
    display: flex;
    flex-direction: row;
    height: 4em;
    padding-left: 1em;
    padding-right: 1em;
    transform: rotate(180deg);
    justify-content: right;
    border-radius: 10px;
    transition: .3s ease-in-out;
  }
  
  .loader:hover {
    cursor: pointer;
    background-color: lightgray;
  }
  
  .currentplaying {
    display: flex;
    margin: 1em;
  }
  
  .spotify {
    width: 50px;
    height: 50px;
    margin-right: 0.6em;
  }
  
  .heading {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    align-self: center;
  }
  
  .loading {
    display: flex;
    margin-top: 1em;
    margin-left: 0.3em;
  }
  
  .load {
    width: 2px;
    height: 33px;
    background-color: limegreen;
    animation: 1s move6 infinite;
    border-radius: 5px;
    margin: 0.1em;
  }
  
  .load:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .load:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .load:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .play {
    position: relative;
    left: 0.35em;
    height: 1.6em;
    width: 1.6em;
    clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
    background-color: black;
    transform: rotate(-90deg);
    align-self: center;
    margin-top: 0.7em;
    justify-self: center;
  }
  
  .albumcover {
    position: relative;
    margin-right: 1em;
    height: 40px;
    width: 40px;
    background-color: rgb(233, 232, 232);
    align-self: center;
    border-radius: 5px;
  }
  .albumcover img {
   
   
    height: 40px;
    width: 40px;
   
    align-self: center;
    border-radius: 5px;
  }
  
  .song {
    position: relative;
    transform: rotate(180deg);
    margin-right: 1em;
    color: black;
    align-self: center;
  }
  
  .artist {
    font-size: 0.6em;
  }
  
  @keyframes move6 {
    0% {
      height: 0.2em;
    }
  
    25% {
      height: 0.7em;
    }
  
    50% {
      height: 1.5em;
    }
  
    100% {
      height: 0.2em;
    }
  }



  @media screen and (max-width: 768px){
    .fancy{
      font-size: 200%;
    }
    body{
      min-height: 100vh;
      height: 100%;
    }
    .main {
      
      width: 60%;
      margin-left: 20%;
    }

  }